/* ----- style.css ----- */

/* Defines the font of the header*/
h1 {
	font-family: 'Times New Roman', Times, serif;; /* Set the font family */
}

/* Defines the colour of the SVG elements and properties about it's outline*/
svg path {
	fill: #6f6f6f;
	stroke: #eee;
	stroke-width: .25;
}

/* The background colour of the whole website*/
body {
	background-color: rgb(246, 246, 241);
  }

/* Colouring in all countries with the class available*/
.available path{
	fill: rgb(69, 129, 69);
  }

/* Changing the colour of all countries with the class available when hovering over it*/
.available:hover path {
	fill: darkgreen;
	transition: 0.6s;
	cursor: pointer;
  }

/* Colouring in all countries with the class available_soon*/
.available_soon path{
	fill: rgb(136, 167, 125);
  }

/* Changing the colour of all countries with the class available_soon when hovering over it*/
.available_soon:hover path {
	fill: #6f6f6f;
	transition: 0.6s;
	cursor: pointer;
  }


/* How the country name box including additional information should be displayed */
#country-name {
	position: absolute;
	display: none;
	background-color: white;
	border: 1px solid rgb(0, 0, 0);
	padding: 5px;
	font-family: 'Times New Roman', Times, serif; /* Set the font family */
	
  }















/* Set the stroke color of the path elements within the Europe elements to the same color as their fill color */
g[name="Europe"] path {
	stroke: rgb(69, 129, 69);
  }
  
/* Increase the stroke-width of the path elements within the Europe elements */
g[name="Europe"] path {
	stroke-width: 2;
  }


  
/* Set the stroke color of all the path elements within the Europe elements to darkgreen when their parent svg element has the hover class */
svg.hover g[name="Europe"] path {
	stroke: darkgreen;
  }
  
/* Modify your CSS to target the path element within the g element with the class .available */
.available path {
    fill: rgb(69, 129, 69);
}

/* Managing the highlight colour of countries hovered over on the world */
.highlight path {
  fill: darkgreen;
  transition: 0.6s;
  cursor: pointer;
}


#tooltip {
  background-color: white;
  border: 1px solid black;
  padding: 5px;
  font-family: 'Times New Roman', Times, serif;; /* Set the font family */
}

.back-button {
	/* Add your styles here */
	position: fixed;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	/* ... */
	background-color: white;
	border: 1px solid black;
	padding: 5px;
	font-family: 'Times New Roman', Times, serif; /* Set the font family */
	font-size: 17px; /* Change the font size */
  }
  

.back-button:hover {
	background-color: lightgrey;
}


/* The colour of the title*/
h1 {
	color: rgb(0, 0, 0);
	text-align: center;
	margin: 20px 0;
  }

  /* The width, colour of the boarder etc. */
  #map-container {
	position: relative;
	width: 95%;
	border: 0px solid rgb(39, 28, 19);
	border-radius: 10px;
	
  }

  .has-download-link {
	fill: #86d886; /* Change this to the color you want */
  }
  
  .new-map {
	width: 70%;
  }
  

  #map-container {
	display: flex;
	justify-content: center;
	align-items: center;
  }

  .hidden {
	display: none;
  }

  
  .state path {
	pointer-events: none;
  }

  .europe-map {
	width: 1300px;
	height: 750px;
  }
  
  .us-map {
	width: 1000px;
	height: 650px;
  }
  

/* Modify your CSS to target the path element with the class .available */
.available_eu {
	fill: rgb(69, 129, 69);
   }
   
   .available_eu:hover {
	fill: darkgreen;
	transition: 0.6s;
	cursor: pointer;
   }

/* Modify your CSS to target the path element with the class .available */
.available_eu_soon {
	fill: rgb(136, 167, 125);
   }
   
   .available_eu_soon:hover {
	fill: rgb(117, 117, 117);
	transition: 0.6s;
	cursor: pointer;
   }

/* Modify your CSS to target the path element with the class .available */
.available_us {
	fill: rgb(69, 129, 69);
   }
   
   .available_us:hover {
	fill: darkgreen;
	transition: 0.6s;
	cursor: pointer;
   }

body {
overflow-y: hidden;
  }
   