/* ----- style.css ----- */
/* Defines the font of the header*/
h1 {
	font-family: 'Times New Roman', Times, serif;; /* Set the font family */
	color: rgb(0, 0, 0);
	text-align: center;
	margin: 20px 0;
}

/* The width, colour of the boarder etc. */
#map-container {
position: relative;
width: 95%;
border: 0px solid rgb(39, 28, 19);
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
  }

/* No scrolling on the website */
body {
	overflow-y: hidden;
	  }

/* Defines the colour of the SVG elements and properties about it's outline*/
svg path {
	fill: #6f6f6f;
	stroke: #eee;
	stroke-width: .25;
}

/* The background colour of the whole website*/
body {
	background-color: rgb(246, 246, 241);
  }

/* Colouring in all countries with the class available*/
.available path{
	fill: rgb(69, 129, 69);
  }

/* Changing the colour of all countries with the class available when hovering over it*/
.available:hover path {
	fill: darkgreen;
	transition: 0.6s;
	cursor: pointer;
  }

/* Colouring in all countries with the class available_soon*/
.available_soon path{
	fill: rgb(136, 167, 125);
  }

/* Changing the colour of all countries with the class available_soon when hovering over it*/
.available_soon:hover path {
	fill: #6f6f6f;
	transition: 0.6s;
	cursor: pointer;
  }

  #country-name {
	position: absolute;
	display: none; /* Change display property to block */
	background-color: white;
	border: 1px solid rgb(0, 0, 0);
	padding: 10px;
	font-family: 'Times New Roman', Times, serif;
	z-index: 10;
	/*max-width: 100%;  Add max-width property */
	/*max-height: 100%;  Add max-height property */
	max-width: 300px;  
	min-height: 40px; 
	overflow: auto; /* Add overflow property */
	white-space: normal;
}


/* Managing the highlight colour of countries hovered over on the world */
.highlight path {
	fill: darkgreen;
	transition: 0.6s;
	cursor: pointer;
  }
  
  /* Managing the highlight colour of countries hovered over on the world */
  .highlight_available_soon path {
	  fill: #6f6f6f;
	  transition: 0.6s;
	  cursor: pointer;
	}

/* Set the stroke color of the path elements within the Europe elements 
to the same color as their fill color */
g[name="Europe"] path {
	stroke: rgb(69, 129, 69);
  }
  
/* Increase the stroke-width of the path elements within the Europe elements */
g[name="Europe"] path {
	stroke-width: 2;
  }
  
/* Set the stroke color of all the path elements within the Europe elements to 
darkgreen when their parent svg element has the hover class */
svg.hover g[name="Europe"] path {
	stroke: darkgreen;
  }
  
.back-button {
	/* Add your styles here */
	position: fixed;
	top: 20px;
	left: 20px;
	background-color: white;
	border: 1px solid black;
	padding: 5px;
	font-family: 'Times New Roman', Times, serif; /* Set the font family */
	font-size: 19px;
  }
  
.back-button:hover {
	background-color: lightgrey;
}

.us-map {
	width: 1000px;
	height: 570px;
  }


/* Modify your CSS to target the path element with the class .available */
.available_eu {
	fill: rgb(69, 129, 69);
   }
   
.available_eu:hover {
	fill: darkgreen;
	transition: 0.6s;
	cursor: pointer;
   }

/* Modify your CSS to target the path element with the class .available */
.available_eu_soon {
	fill: rgb(136, 167, 125);
   }
   
.available_eu_soon:hover {
	fill: rgb(117, 117, 117);
	transition: 0.6s;
	cursor: pointer;
   }

.brazil-map {
	width: 1000px;
	height: 1220px;
  }

.argentina-map {
	width: 1000px;
	height: 1220px;
  }

.europe-map {
	width: 1300px;
	height: 670px; /*750*/
  }

/* CSS */
.box {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  transition: opacity 0.5s;
}

    
  .color-box-container {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
  }
  
  .color-box-container:last-child {
	margin-bottom: 0;
  }
  
  .color-box {
	width: 20px;
	height: 20px;
	border: 1px solid black;
	margin-right: 10px;
  }

  .dark-grey {
	background-color: #6f6f6f;
  }
  
  .green {
	background-color: rgb(136, 167, 125);
  }
  
  .dark-green {
  	background-color: darkgreen;
  }

  .box p {
	line-height: 0.1;
	white-space: nowrap;
  }
  

  
  
